
body{
    margin: 0;
}

.content{
    height: 585px;
    margin: 0 !important;
    padding: 0 !important;

    background-color: #FFFFFF;
    border: 1px solid red;
}

footer{
    width: 100px;
    height: 48px;
    width: 100vw;
    border: 1px solid red;
}